/* Font family */
#fonts() {
  1: 'Roboto', 'Arial', sans-serif;
}

/* Colors */
#colors() {
  accent: #4890E4;
  accent_hover: #3B7ECC;
  accent_active: #2A64A9;
  accent_disabled: #273E61;
  link: #80D600;
  dark: #181B21;
  dark_light: #262B32;
  dark_light_2: #383E46;
  white: #ffffff;
  red: #CF3939;
  red_hover: #B63333;
  red_active: #952828;
  red_disabled: #552626;
  bg: #1F2329;
  text: #CFD8E3;
  text_black: #7B8899;
}

/* Container width */
@container: 1186px;

/* Wrapper */
.wrapper() {
  max-width: @container;

  padding: 0 15px;
  margin: 0 auto;
}

/* 100% + reset spacings */
.w100() {
  width: 100%;

  padding: 0;
  margin: 0;
}

/* Reset button */
.button_reset() {
  padding: 0;
  margin: 0;

  background: none;
  border: none;

  cursor: pointer;

  text-align: center;
  vertical-align: middle;

  outline: none;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}
