/* Breackpoints */
@mobile: 767px;
@mobile_small: 424px;
@tablet_min: 768px;
@tablet: 1199px;
@laptop: 1366px;

/* Container width */
@container: 1186px;

/* Font family */
#fonts() {
  1: 'Roboto', 'Arial', sans-serif;
}

/* Colors */
#colors() {
  accent: #4890E4;
  accent_hover: #3B7ECC;
  accent_active: #2A64A9;
  accent_disabled: #273E61;
  link: #80D600;
  dark: #181B21;
  dark_light: #262B32;
  dark_light_2: #383E46;
  white: #ffffff;
  red: #CF3939;
  red_hover: #B63333;
  red_active: #952828;
  red_disabled: #552626;
  green: #6BA614;
  green_hover: #588B0B;
  green_active: #3D6205;
  green_disabled: #313E1E;
  orange: #E37525;
  orange_hover: #D06517;
  orange_active: #B75005;
  orange_disabled: #543824;
  bg: #1F2329;
  text: #CFD8E3;
  text_black: #7B8899;
}

/* Wrapper */
.wrapper() {
  width: 100%;
  max-width: @container;

  padding: 0 15px;
  margin: 0 auto;
}

/* 100% + reset spacings */
.w100() {
  width: 100%;

  padding: 0;
  margin: 0;
}

/* Background icon before/after */

.bg_icon(@url) {
  background-image: url(@url);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Reset field */
.field_reset() {
  background: none;
  border: none;
  outline: none;

  width: 100%;

  padding: 0;
  margin: 0;
}

/* Reset button */
.button_reset() {
  padding: 0;
  margin: 0;

  background: none;
  border: none;

  cursor: pointer;

  text-align: center;
  vertical-align: middle;

  outline: none;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

/* blue background hover */
.blue_hover() {
  .button_reset();

  display: flex;

  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border-radius: 50%;

  background-color: #colors[dark_light];

  svg {
    fill: none;

    path {
      stroke: #colors[text_black];
    }
  }

  &:hover,
  &:focus {
    background-color: #colors[dark_light_2];
  }

  &:active,
  &.active {
    background-color: #colors[accent];

    svg {
      fill: none;

      path {
        stroke: #colors[white];
      }
    }
  }
}

/* text styles */
.caption() {
  /* caption text style */
  font-family: #fonts[1];
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  /* identical to box height, or 17px */
}

.caption_2() {
  /* caption_2 text style */
  font-family: #fonts[1];
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  text-align: center;

  @media (max-width: @mobile) {
    font-weight: 500;
    font-size: 8.39865px;
    line-height: 10px;
  }
}

.menu() {
  /* menu text style */
  font-family: #fonts[1];
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  /* identical to box height, or 22px */

  letter-spacing: 0.01em;

  text-align: center;

  color: #colors[text];

  transition: color 0.3s ease;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #colors[accent];

    transition: color 0.3s ease;
  }

  @media (max-width: @mobile) {
    font-size: 14px;
    line-height: 140%;

    letter-spacing: normal;
  }
}

.menu_footer() {
  /* menu_footer text style */
  font-family: #fonts[1];
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  text-align: center;

  color: #colors[text];

  transition: color 0.3s ease;

  &:hover,
  &:focus {
    color: #colors[accent];

    transition: color 0.3s ease;
  }

  @media (max-width: @mobile) {
    font-size: 15px;
    line-height: 150%;
    /* identical to box height, or 22px */

    letter-spacing: 0.01em;
  }
}

.body() {
  /* body text style */
  font-family: #fonts[1];
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  letter-spacing: 0.01em;

  @media (max-width: @mobile) {
    font-size: 12px;
    line-height: 150%;
  }
}

.body_bold() {
  /* body text style */
  font-family: #fonts[1];
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  letter-spacing: 0.01em;
}

.h1() {
  /* h1 text style */
  font-family: #fonts[1];
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  /* or 36px */

  letter-spacing: 0.03em;
}

.h1_mobile() {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;

  letter-spacing: 0.01em
}

.h2() {
  /* h2 text style */
  font-family: #fonts[1];
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  /* identical to box height, or 34px */

  letter-spacing: 0.01em;
}

.h2_mobile() {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}

.h3() {
  /* h3 text style */
  font-family: #fonts[1];
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */

  letter-spacing: 0.01em;
}

.h3_mobile() {
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
}

.button_text() {
  /* button_text text style */
  font-family: #fonts[1];
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  text-align: center;
}

.time() {
  /* time text style */
  font-family: #fonts[1];
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  text-align: right;
}

.message() {
  /* message text style */
  font-family: #fonts[1];
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  letter-spacing: 0.01em;
}

.card_title() {
  /* card_title text style */
  font-family: #fonts[1];
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  @media (max-width: @mobile) {
    font-weight: 500;
    font-size: 13.7432px;
    line-height: 140%;
  }
}
