/* Breackpoints */
@mobile: 767px;
@tablet: 1199px;

/* Container width */
@container: 1186px;

/* Font family */
#fonts() {
  1: 'Roboto', 'Arial', sans-serif;
}

/* Colors */
#colors() {
  accent: #4890E4;
  accent_hover: #3B7ECC;
  accent_active: #2A64A9;
  accent_disabled: #273E61;
  link: #80D600;
  dark: #181B21;
  dark_light: #262B32;
  dark_light_2: #383E46;
  white: #ffffff;
  red: #CF3939;
  red_hover: #B63333;
  red_active: #952828;
  red_disabled: #552626;
  green: #6BA614;
  green_hover: #588B0B;
  green_active: #3D6205;
  green_disabled: #313E1E;
  orange: #E37525;
  orange_hover: #D06517;
  orange_active: #B75005;
  orange_disabled: #543824;
  bg: #1F2329;
  text: #CFD8E3;
  text_black: #7B8899;
}

/* Wrapper */
.wrapper() {
  max-width: @container;

  padding: 0 15px;
  margin: 0 auto;
}

/* 100% + reset spacings */
.w100() {
  width: 100%;

  padding: 0;
  margin: 0;
}

/* Reset button */
.button_reset() {
  padding: 0;
  margin: 0;

  background: none;
  border: none;

  cursor: pointer;

  text-align: center;
  vertical-align: middle;

  outline: none;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

/* blue background hover */
.blue_hover() {
  .button_reset();

  display: flex;

  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border-radius: 50%;

  background-color: #colors[dark_light];

  svg {
    fill: none;

    path {
      stroke: #colors[text_black];
    }
  }

  &:hover,
  &:focus {
    background-color: #colors[dark_light_2];
  }

  &:active,
  &.active {
    background-color: #colors[accent];

    svg {
      fill: none;

      path {
        stroke: #colors[white];
      }
    }
  }
}

/* text styles */
.caption() {
  font-family: #fonts[1];
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  /* identical to box height, or 17px */
}

.caption_2() {
  font-family: #fonts[1];
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  /* identical to box height */

  text-align: center;
}

.menu() {
  font-family: #fonts[1];
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 150%;
  /* identical to box height, or 22px */

  letter-spacing: 0.01em;

  text-align: center;

  color: #colors[text];

  transition: color 0.3s ease;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #colors[accent];

    transition: color 0.3s ease;
  }

  @media (max-width: @mobile) {
    font-size: 14px;
    line-height: 140%;

    letter-spacing: normal;
  }
}

.menu_footer() {
  font-family: #fonts[1];
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  text-align: center;

  color: #colors[text];

  transition: color 0.3s ease;

  &:hover,
  &:focus {
    color: #colors[accent];

    transition: color 0.3s ease;
  }

  @media (max-width: @mobile) {
    font-size: 15px;
    line-height: 150%;
    /* identical to box height, or 22px */

    letter-spacing: 0.01em;
  }
}

.h3() {
  font-family: #fonts[1];
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */

  letter-spacing: 0.01em;
}
