.account,
.account__header {
  .w100();
}

.account {
  padding-bottom: 50px;
}

.account__wrapper {
  .wrapper();
}

.account__header {
  display: flex;

  justify-content: space-between;
  align-items: stretch;

  padding: 16px 20px 20px;

  border-radius: 5px 5px 0 0;

  background-color: #colors[dark];

  &--vip {
    background-color: #4F1265;
  }

  @media (max-width: @mobile) {
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
  }
}

.account__left {
  width: 339 / ( 1156 - 20 - 20 ) * 100%;

  padding: 0;
  margin: 0;

  @media (max-width: @mobile) {
    width: 100%;
  }
}

.account__right {
  display: flex;

  flex-direction: column;

  justify-content: flex-start;
  align-items: flex-end;

  padding: 0;
  margin: 0;

  @media (max-width: @mobile) {
    align-items: flex-start;

    width: 100%;
  }
}

.account__emoji {
  display: flex;

  justify-content: flex-end;
  align-items: center;

  padding: 0;
  margin: 0;

  margin-bottom: 28px;

  list-style: none;
}

.account__emoji-item {
  padding: 0;
  margin: 0;

  margin-left: 10px;

  span {
    display: flex;

    justify-content: center;
    align-items: center;

    height: 42px;

    font-family: #fonts[];
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 140%;
    /* identical to box height, or 42px */

    letter-spacing: 0.1em;

    /* Text */

    color: #colors[text];

    opacity: 0.3;

    img {
      margin: 0!important;
    }
  }

  &.active {
    span {
      opacity: 1;
    }
  }
}

.account__buttons {
  display: flex;

  justify-content: flex-end;
  align-items: center;

  padding: 0;
  margin: 0;

  @media (max-width: @mobile) {
    flex-direction: column;

    justify-content: flex-start;
    align-items: stretch;

    width: 100%;

    max-width: 400px;

    margin-left: auto;
    margin-right: auto;
  }
}

.account__message {
  margin-left: 15px;

  @media (max-width: @mobile) {
    margin-left: 0;
    margin-top: 15px;
  }
}

.account__vip {
  margin-left: 15px;

  &::after {
    content: '';

    width: 20px;
    height: 20px;

    margin-left: 10px;

    .bg_icon('../img/tournaments-crown.svg');
  }

  &--active {
    pointer-events: none;

    &::after {
      display: none;
    }
  }

  @media (max-width: @mobile) {
    margin-left: 0;
    margin-top: 15px;
  }
}

.account__content {
  display: flex;

  flex-wrap: wrap;

  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;

  width: calc(100% + 20px);

  margin-right: -20px;
}

.account__content-item {
  display: flex;

  justify-content: flex-start;
  align-items: stretch;

  padding: 0;
  margin: 0;

  margin-right: 20px;

  &--col-1 {
    display: block;

    width: calc(100% - 20px);
  }

  &--col-2 {
    width: calc(50% - 20px);
  }

  @media (max-width: @mobile) {
    &--col-2 {
      width: calc(100% - 20px);
    }
  }
}
