.account,
.account__header {
  .w100();
}

.account {
  padding-bottom: 50px;
}

.account__wrapper {
  .wrapper();
}

.account__header {
  display: flex;

  justify-content: space-between;
  align-items: stretch;

  padding: 16px 20px 20px;

  border-radius: 5px 5px 0 0;

  background-color: #colors[dark];

  &--vip {
    background-color: #4F1265;
  }

  &--blocked {
    background-color: #681212;
  }

  @media (max-width: @mobile) {
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
  }
}

.account__left {
  width: auto;

  padding: 0;
  margin: 0;

  @media (max-width: @mobile) {
    width: 100%;
  }
}

.account__right {
  display: flex;

  flex-direction: column;

  justify-content: flex-start;
  align-items: flex-end;

  padding: 0;
  margin: 0;

  @media (max-width: @mobile) {
    align-items: flex-start;

    width: 100%;
  }
}

.account__email {
  margin-left: 14px;
  color: #colors[text_black];

  @media (max-width: @mobile) {
    margin-left: 0;
    margin-bottom: 10px;
  }
}

.account__emoji {
  display: flex;

  justify-content: flex-end;
  align-items: center;

  min-width: 162px;

  padding: 0;
  margin: 0;

  list-style: none;

  @media (max-width: @mobile) {
    width: 100%;
    min-width: auto;

    justify-content: center;

    margin-top: 15px;
  }
}

.account__emoji-item {
  display: flex;

  justify-content: center;
  align-items: center;

  min-height: 42px;

  padding: 0;
  margin: 0;

  opacity: 0.3;

  &:not(:last-of-type) {
    margin-right: 10px;
  }

  &.active {
    opacity: 1;
  }
}

.account__buttons {
  display: flex;

  justify-content: flex-end;
  align-items: center;

  padding: 0;
  margin: 0;

  &--top {
    margin-bottom: 28px;
  }

  @media (max-width: @mobile) {
    width: 100%;

    max-width: 400px;

    margin-left: auto;
    margin-right: auto;

    &--top {
      flex-wrap: wrap;

      justify-content: space-between;
      align-content: flex-start;
    }

    &--bottom {
      flex-direction: column;

      justify-content: flex-start;
      align-items: stretch;
    }
  }
}

.account__message {

}

.account__friends {
  margin-right: 15px;

  @media (max-width: @mobile) {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.account__vip,
.account__topup {
  min-width: 146px;
}

.account__vip {
  margin-left: 15px;

  &::after {
    content: '';

    width: 20px;
    height: 20px;

    margin-left: 10px;

    .bg_icon('../img/tournaments-crown.svg');
  }

  &--active {
    pointer-events: none;

    &::after {
      display: none;
    }
  }

  @media (max-width: @mobile) {
    margin-left: 0;
    margin-top: 15px;
  }
}

.account__content {
  display: flex;

  flex-wrap: wrap;

  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;

  width: calc(100% + 20px);

  margin-right: -20px;
}

.account__content-item {
  display: flex;

  justify-content: flex-start;
  align-items: stretch;

  padding: 0;
  margin: 0;

  margin-right: 20px;

  &--col-1 {
    display: block;

    width: calc(100% - 20px);
  }

  &--col-2 {
    width: calc(50% - 20px);
  }

  @media (max-width: @mobile) {
    &--col-2 {
      width: calc(100% - 20px);
    }
  }
}

.account__admin-button {
  margin-left: 10px;
}
