.button {
  position: relative;

  .button_reset();

  display: flex;

  justify-content: center;
  align-items: center;

  min-width: 101px;

  padding: 10px 18px;

  border-radius: 5px;

  .button_text();

  color: #colors[white];

  transition: background-color 0.3s;

  span {
    pointer-events: none;
  }

  &:hover,
  &:focus,
  &:active,
  &:disabled,
  &.disabled {
    transition: background-color 0.3s;
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
  }

  &.hidden {
    pointer-events: none;
  }

  &--blue,
  &.avatar-crop-submit {
    background-color: #colors[accent];

    &:hover,
    &:focus {
      background-color: #colors[accent_hover];
    }

    &:active {
      background-color: #colors[accent_active];
    }

    &:disabled,
    &.disabled,
    &.hidden {
      color: #506C97;

      background-color: #colors[accent_disabled];
    }
  }

  &.avatar-crop-submit {
    margin-top: 20px;

    margin-left: auto;
    margin-right: auto;
  }

  &--red,
  &#bp-delete-avatar {
    background-color: #colors[red];

    &:hover,
    &:focus {
      background-color: #colors[red_hover];
    }

    &:active {
      background-color: #colors[red_active];
    }

    &:disabled,
    &.disabled {
      color: #8F4B4B;

      background-color: #colors[red_disabled];
    }
  }

  &#bp-delete-avatar {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  &--green {
    background-color: #colors[green];

    &:hover,
    &:focus {
      background-color: #colors[green_hover];
    }

    &:active {
      background-color: #colors[green_active];
    }

    &:disabled,
    &.disabled {
      color: #526536;

      background-color: #colors[green_disabled];
    }
  }

  &--orange {
    background-color: #colors[orange];

    &:hover,
    &:focus {
      background-color: #colors[orange_hover];
    }

    &:active {
      background-color: #colors[orange_active];
    }

    &:disabled,
    &.disabled {
      color: #815D44;

      background-color: #colors[orange_disabled];
    }
  }

  &--gray {
    background-color: #colors[dark_light];

    border: 1px solid #434D5A;

    &:hover,
    &:focus {
      background-color: #colors[dark_light_2];
    }

    &:active {
      background-color: #colors[bg];
    }

    &:disabled,
    &.disabled {
      color: rgba(255, 255, 255, 0.3);

      background-color: transparent;

      border-color: #colors[dark_light_2];
    }
  }

  &--more {
    padding: 9px 20px;

    background-color: #colors[dark_light];

    border: 1px solid #434D5A;

    &::after {
      content: '';

      width: 28px;
      height: 16px;

      margin-left: 14px;

      background-image: url('../img/arrow-right.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:hover,
    &:focus {
      background-color: #colors[dark_light_2];
    }

    &:active {
      background-color: #colors[bg];
    }
  }
}

.button__chat {
  position: absolute;

  top: 0;

  display: flex;

  justify-content: center;
  align-items: center;

  width: 21px;
  height: 21px;

  border-radius: 50%;

  overflow: hidden;

  background-color: #65A800;

  .caption_2();

  color: #colors[white];

  &--left {
    left: 0;

    transform: translate(-50%, -50%);
  }

  &--right {
    right: 0;

    transform: translate(50%, -50%);
  }
}
