.chat-page,
.chat-page__top,
.chat-page__center,
.chat-page__game,
.chat-page__name,
.chat-page__header,
.chat-page__inner {
  .w100();
}

.chat-page {
  padding-bottom: 50px;
}

.chat-page__wrapper {
  .wrapper();

  display: flex;

  flex-wrap: wrap;

  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;

  @media (max-width: @mobile) {
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
  }
}

.chat-page__left,
.chat-page__right {
  padding: 0;
  margin: 0;

  background-color: #colors[dark_light];
}

.chat-page__left {
  position: relative;

  width: 568 / 1156 * 100%;

  padding: 0;

  border-radius: 5px;

  overflow: hidden;

  @media (max-width: @mobile) {
    width: 100%;

    margin-bottom: 50px;
  }
}

.chat-page__right {
  display: flex;

  flex-direction: column;

  justify-content: flex-start;
  align-items: flex-start;

  width: 568 / 1156 * 100%;
  min-height: 100vh;

  padding: 0 0 21px 0;

  background-color: #colors[dark_light];

  border-radius: 5px;

  overflow: hidden;

  @media (max-width: @mobile) {
    width: 100%;
  }
}

.chat-page__header {
  display: flex;

  justify-content: space-between;
  align-items: center;

  min-height: 70px;

  background-color: #colors[dark];

  &--left {
    padding: 10px 25px 10px 10px;
  }

  &--right {
    padding: 14px 16px 16px 20px;
  }
}

.chat-page__top {
  position: relative;

  display: flex;

  flex-wrap: wrap;

  justify-content: space-between;
  align-items: center;
  align-content: flex-start;

  padding-bottom: 13px;
  margin-bottom: 15px;

  .caption();

  color: #colors[text];

  border-bottom: 1px solid #colors[dark_light_2];

  @media (max-width: @mobile) {
    align-items: flex-start;
  }
}

.chat-page__center {
  flex-grow: 1;

  display: flex;

  flex-direction: column;

  justify-content: space-between;
  align-items: flex-start;

  margin-left: 13px;
}

.chat-page__name {
  width: 328 / 508 * 100%;

  margin-bottom: 2px;

  .card_title();

  color: #colors[link];
}

.chat-page__rules {
  flex-shrink: 0;

  .body();

  color: #colors[link];
}

.chat-page__chat {
  padding: 0;
  margin: 0;

  .h3();

  color: #colors[text];
}

.chat-page__complaint {
  width: 160px;
}

.chat-page__inner {
  padding: 20px 30px 30px;

  &--match {
    padding-top: 20px;
  }
}

.chat-page__round {
  width: 180 / 508 * 100%;

  margin-bottom: 2px;

  .card_title();

  text-align: right;
}

.chat-page__game {
  margin-bottom: 4px;

  .body_bold();

  color: #colors[white];
}

.chat-page__broadcasting {
  margin-top: 15px;
}
