.files {
  padding: 0;
  margin: 0;

  &--contact {
    width: 148 / 444 * 100%;
  }

  &--verification {
    width: 148 / 290 * 100%;
  }

  &--create {
    position: relative;

    width: 100%;

    padding: 130px 20px 29px 20px;

    background-color: #colors[dark_light];

    background-image: url('../img/image.svg');
    background-size: 60px;
    background-position: center 50px;
    background-repeat: no-repeat;

    border-radius: 20px;

    overflow: hidden;

    &-header {
      background-image: url('../img/image-header.svg');
    }

    &-footer {
      background-image: url('../img/image-footer.svg');
    }

    &-colorpicker {
      height: 100%;

      background-image: url('../img/image-colorpicker.svg');
      background-size: 72px;
    }
  }

  @media (max-width: @tablet) {
    &--chat-page {
      max-width: 190px;
    }
  }

  @media (max-width: @mobile) {
    width: auto;
    min-width: 145px;

    &--contact {
      max-width: calc(100% - 126px);
    }
  }
}

.files__label {
  display: flex;

  justify-content: flex-start;
  align-items: center;

  .w100();

  padding: 6px 9px;

  .caption();

  color: #colors[text];

  background-color: #colors[dark_light_2];

  border-radius: 5px;

  cursor: pointer;

  &::before {
    content: '';

    width: 20px;
    height: 20px;

    margin-right: 6px;

    .bg_icon('../img/paperclip.svg');
  }

  &--verification {
    margin: 0;
  }
}

.files__input {
  display: none;
}

.files__preview {
  .w100();

  .caption();

  color: #colors[text];

  ul {
    .w100();

    list-style: none;

    li {
      display: flex;

      justify-content: flex-start;
      align-items: center;

      padding: 4px 6px 4px 10px;
      margin-top: 5px;

      border-radius: 5px;

      background-color: #colors[dark];

      &::after {
        content: '';

        width: 16px;
        height: 16px;

        margin-left: 10px;

        .bg_icon('../img/close.svg');
      }
    }
  }

  p {
    .w100();

    word-break: break-word;
  }

  a {
    color: #colors[link];
  }

  &--change {
    ul {
      li {
        background-color: transparent;

        text-align: center;

        &::after {
          display: none;
        }
      }
    }
  }
}

.files__picture,
.files__colorpicker {
  position: absolute;

  top: 0;
  left: 0;

  z-index: 1;

  width: 100%;
  height: 100%;

  cursor: pointer;

  border: 2px dashed #colors[dark_light_2];

  border-radius: 20px;

  overflow: hidden;

  transition: boder-color 0.3s;

  &:hover,
  &.active {
    border-color: #colors[accent];

    transition: boder-color 0.3s;
  }
}

.files__picture {
  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }
}

.files__colorpicker {
  display: flex;

  justify-content: center;
  align-items: center;

  .h3();
}

.files__content,
.files__title,
.files__text {
  .w100();
}

.files__content {
  text-align: center;

  color: #colors[text_black];
}

.files__title {
  margin-bottom: 2px;

  .h3();
}

.files__text {
  .caption();
}
