.filters {
  display: flex;

  flex-direction: column;

  justify-content: flex-start;
  align-items: flex-start;

  .w100();

  padding: 10px 10px 13px;

  margin-bottom: 20px;

  background: #colors[dark_light];
  border-radius: 5px;
}

.filters__container {
  display: flex;

  flex-wrap: wrap;

  justify-content: flex-start;

  align-content: flex-start;

  width: calc(100% + 9px);

  margin-right: -9px;

  &--top {
    align-items: center;
  }

  &--bottom {
    align-items: flex-start;
  }
}

.filters__element {
  position: relative;

  display: flex;

  flex-wrap: wrap;

  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;

  padding: 0;
  margin: 0;

  margin-right: 9px;
  margin-bottom: 10px;

  &--search {
    width: 464 / 1136 * 100%;
  }

  &--checkboxes {
    flex-grow: 1;

    display: flex;

    justify-content: flex-end;
    align-items: center;
  }

  &--col-5 {
    width: calc(20% - 9px);
  }

  @media (max-width: @mobile) {
    &--search,
    &--checkboxes,
    &--col-5 {
      width: calc(100% - 9px);
    }
  }
}

.filters__button {
  .button_reset();

  display: flex;

  justify-content: center;
  align-items: center;

  &--search {
    position: absolute;

    top: 50%;
    right: 10px;

    z-index: 1;

    transform: translateY(-50%);
  }
}

.filters__field {
  .field_reset();

  width: 100%;

  padding: 13px 15px;

  font-family: #fonts[1];
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 125% */

  letter-spacing: 0.01em;

  text-align: left;

  color: #colors[text];

  background: #colors[dark];
  border: 1px solid #434D5A;

  border-radius: 5px;

  transition: background-color 0.3s, border-color 0.3s;

  &::placeholder {
    font-family: #fonts[1];
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 125% */

    letter-spacing: 0.01em;

    color: #57616F;
  }

  &:hover,
  &:focus {
    background: #colors[dark_light];

    transition: background-color 0.3s, border-color 0.3s;
  }

  &.active {
    background: #colors[dark];
    border-color: #colors[accent];

    transition: background-color 0.3s, border-color 0.3s;
  }

  &.invalid {
    color: #colors[red];
    border-color: #colors[red];

    transition: background-color 0.3s, border-color 0.3s;
  }

  &--select {
    display: flex;

    justify-content: space-between;
    align-items: center;

    cursor: pointer;

    &::after {
      content: '';

      width: 18px;
      height: 22px;

      margin-left: 10px;

      .bg_icon('../img/icon-chevron-bottom.svg');
    }
  }
}

.filters__icon {
  fill: none;
}

.filters__checkbox {
  display: flex;

  justify-content: flex-start;
  align-items: center;

  padding: 0;
  margin: 0;

  &--top {
    &:not(:first-of-type) {
      margin-left: 20px;
    }
  }
}

.filters__label {
  position: relative;

  display: block;

  cursor: pointer;

  .caption();

  color: #colors[text];

  &::before,
  &::after {
    content: '';

    position: absolute;

    top: 50%;

    transform: translateY(-50%);
  }

  &--checkbox {
    &::before {
      width: 18px;
      height: 18px;

      background-color: #colors[dark];

      border: 1px solid #434D5A;

      border-radius: 3px;
    }

    &::after {
      width: 12px;
      height: 12px;

      .bg_icon('../img/check.svg');

      opacity: 0;

      transition: opacity 0.3s;
    }

    &:hover {
      &::after {
        opacity: 0.2;

        transition: opacity 0.3s;
      }
    }
  }

  &--result {
    width: 100%;

    &::before {
      width: 16px;
      height: 16px;

      .bg_icon('../img/close.svg');
    }
  }

  &--left {
    padding-left: 28px;

    &::before {
      left: 0;
    }

    &::after {
      left: 3px;
    }
  }

  &--right {
    padding-right: 28px;

    &::before {
      right: 0;
    }

    &::after {
      right: 3px;
    }
  }
}

input[type="checkbox"]:focus + .filters__label--checkbox {
  &::after {
    opacity: 0.2;

    transition: opacity 0.3s;
  }
}

input[type="checkbox"]:checked + .filters__label--checkbox {
  &::before {
    background-color: #colors[accent];
    border-color: #colors[accent];
  }

  &::after {
    opacity: 1;

    transition: opacity 0.3s;
  }
}

.filters__list,
.filters__item {
  .w100();
}

.filters__list {
  display: none;

  margin-top: 5px;

  list-style: none;

  &.active {
    display: block;
  }

  &--checkbox {
    padding: 9px 14px;

    background: #colors[dark];
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  &--result {
    background: transparent;
  }
}

.filters__item {
  &--checkbox {
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  &--result {
    padding: 4.5px 6px 4.5px 10px;

    background: #colors[dark];
    border-radius: 5px;

    &:not(:last-of-type) {
      margin-bottom: 5px;
    }
  }
}

.filters__reset {
  align-self: flex-end;

  .button_reset();

  .caption();

  color: #colors[link];
}
