.form,
.form__row,
.form__error,
.form__bottom {
  .w100();
}

.form {
  display: flex;

  flex-direction: column;

  justify-content: flex-start;
  align-items: stretch;

  p {
    &:not(.form__text) {
      padding: 0;
      margin: 0;
    }
  }

  &--wallet {
    flex-direction: row;

    align-items: center;
  }

  &--wallet-transaction {
    flex-direction: row;

    flex-wrap: wrap;

    align-items: flex-start;

    align-content: flex-start;
  }

  &--contact,
  &--chat {
    flex-direction: row;

    align-items: flex-start;
  }

  &--contact {
    justify-content: space-between;

    max-width: 764px;

    margin-top: 50px;
    margin-right: auto;
  }

  &--chat {
    flex-wrap: wrap;

    justify-content: center;
    align-content: flex-start;
  }

  &--complaint {
    margin-top: 30px;
  }

  &#form-game {
    display: none;

    &.active {
      display: flex;
    }
  }

  input[type="number"] {
    appearance: none;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  @media (max-width: @mobile) {
    &--wallet,
    &--contact {
      flex-direction: column;
    }

    &--chat {
      justify-content: space-between;
    }
  }
}

.form__left {
  padding: 0;
  margin: 0;

  &--wallet-refill,
  &--wallet-withdrawal {
    width: 200 / ( 1156 - 40 ) * 100%;

    margin-right: 30px;
  }

  &--grid {
    flex-shrink: 0;

    display: grid;

    grid-template-areas: "a c"
                         "b c"
                         "d d";
    grid-column-gap: 10px;
    grid-auto-columns: (200 / 590 * 100%) (380 / 590 * 100%);

    align-items: stretch;

    width: 590 / ( 1156 - 40 ) * 100%;
  }

  &--contact {
    width: 300 / 764 * 100%;
  }

  &--chat {
    display: flex;
    flex-wrap: wrap;

    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;

    width: ( (80 + 20 + 80) / 508 ) * 100%;
  }

  @media (max-width: @mobile) {
    &--wallet-refill,
    &--wallet-withdrawal,
    &--grid,
    &--contact {
      width: 100%;

      margin-right: 0;
    }

    &--grid {
      grid-auto-columns: 100%;
      grid-template-areas: "a"
                           "b"
                           "d"
                           "c";
    }

    &--chat {
      order: 1;

      flex-direction: column;

      justify-content: flex-start;
      align-items: flex-start;

      width: 40%;
    }
  }
}

.form__right {
  padding: 0;
  margin: 0;

  &--contact {
    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;

    width: 444 / 764 * 100%;
  }

  &--chat {
    display: flex;

    flex-wrap: wrap;

    flex-direction: row-reverse;

    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;

    width: ( (80 + 20 + 80) / 508 ) * 100%;
  }

  @media (max-width: @mobile) {
    &--contact {
      width: 100%;
    }

    &--chat {
      order: 2;

      flex-direction: column;

      justify-content: flex-start;
      align-items: flex-end;

      width: 40%;
    }
  }
}

.form__center {
  &--chat {
    display: flex;

    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    width: ( 148 / 508 ) * 100%;
  }

  @media (max-width: @mobile) {
    &--chat {
      order: 3;

      width: 100%;
    }
  }
}

.form__bottom {
  display: flex;

  justify-content: space-between;
  align-items: flex-end;

  margin-top: 20px;

  @media (max-width: @mobile) {
    order: 3;

    flex-wrap: wrap;
  }
}

.form__row-wrapper {
  position: relative;

  padding: 0;
  margin: 0;

  &--grid {
    display: flex;

    flex-direction: column;

    &:nth-of-type(1) {
      grid-area: a;
    }

    &:nth-of-type(2) {
      grid-area: b;
    }

    &:nth-of-type(3){
      grid-area: c;
    }
  }
}

.form__row {
  position: relative;

  display: flex;

  justify-content: center;
  align-items: center;

  margin-bottom: 10px;

  &.invalid,
  &.no-old-enough {
    &:not(.focus) {
      &:not(.valid) {
        & .form__field,
        & .select__button {
          border-color: #colors[red];
          color: #colors[red];

          &:focus {
            color: #colors[text];
          }
        }

        & + .form__error {
          height: auto;

          margin-bottom: 10px;

          opacity: 1;

          transition: opacity 0.3s;


          @media (max-width: @mobile) {
            &--wallet {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }

  &--wallet {
    margin: 0;
  }

  &--message-transaction {
    flex-grow: 1;
  }

  &--transaction {
    position: relative;

    z-index: 3;

    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;

    label {
      position: absolute;

      top: 50%;
      left: 15px;

      z-index: 4;

      transform: translateY(-50%);

      font-family: #fonts[1];
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 14px;

      color: #57616F;

      pointer-events: none;
    }

    .select2-container {
      position: static;

      .select2-selection {
        flex-grow: 1;

        .field_reset();

        min-height: 40px;

        padding: 11px 15px;

        font-family: #fonts[1];
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;

        color: #colors[text];

        background: #colors[dark];
        border: 1px solid #434D5A;

        border-radius: 5px;

        &:hover {
          background: #colors[dark_light];

          & + .form__arrow {
            background-color: #colors[dark_light];
          }
        }
      }

      .select2-selection__arrow {
        top: 50%!important;
        transform: translateY(-50%);

        width: 31px;
        height: 31px;

        &::after {
          content: '';

          position: absolute;

          top: 50%;
          right: 5px;

          transform: translateY(-50%);

          z-index: 2;

          width: 100%;
          height: 100%;

          .bg_icon('../img/icon-chevron-bottom.svg');
        }

        b {
          display: none;
        }
      }

      &--open {
        .dropdown-wrapper {
          z-index: 5;
        }

        .select2-selection {
          &:hover,
          &:focus {
            background: #colors[dark];
          }
        }
      }


    }
  }

  &--chat {
    width: auto;

    margin: 0;
  }

  &--verification {
    justify-content: flex-start;

    margin: 0;
  }
}

.select2-selection__rendered {
  position: absolute;

  top: 50%;
  left: 15px;

  transform: translateY(-50%);

  z-index: 7;

  padding: 0!important;

  background: inherit;

  color: #colors[text]!important;

  max-width: calc(100% - 20px);
  overflow: hidden;
}

.select2-dropdown--below {
  .field_reset();

  padding: 11px 15px;

  font-family: #fonts[1];
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  color: #57616F!important;

  background: #colors[dark]!important;
  border-left: 1px solid #434D5A!important;
  border-bottom: 1px solid #434D5A!important;
  border-right: 1px solid #434D5A!important;

  border-radius: 0 0 5px 5px!important;
}

.select2-search--dropdown {
  padding: 0!important;

  + .select2-results {
    .select2-results__option {
      padding: 0;
      padding-top: 6px;
    }
  }
}

.select2-search__field {
  .field_reset();

  padding: 7px!important;

  font-family: #fonts[1];
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  background: #colors[dark]!important;
  color: #colors[text];
  border: 1px solid #434D5A!important;

  border-radius: 3px;
}

.form__field {
  position: relative;

  z-index: 1;

  flex-grow: 1;

  .field_reset();

  padding: 10.8px 15px;

  font-family: #fonts[1];
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  color: #colors[text];

  background: #colors[dark];
  border: 1px solid #434D5A;

  border-radius: 5px;

  &::placeholder {
    font-family: #fonts[1];
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;

    color: #57616F;
  }

  &:focus {
    background: #colors[dark];
    border-color: #colors[accent];
    color: #colors[text];

    & + .form__arrow {
      background-color: #colors[dark];
    }
  }

  &:hover {
    background: #colors[dark_light];

    & + .form__arrow {
      background-color: #colors[dark_light];
    }
  }

  &:disabled {
    opacity: 0.4;

    pointer-events: none;
  }

  &--contact,
  &--wallet {
    padding-top: 10.6px;
    padding-bottom: 10.6px;
  }

  &--message {
    resize: vertical;

    height: 40px;
  }

  &--message-contact {
    resize: none;

    height: 140px;
  }

  &--message-transaction {
    resize: none;

    height: 100%;
  }

  &--chat {
    width: 80px;

    text-align: center;

    color: #57616F;

    -moz-appearance:textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      -webkit-appearance: none;
      margin: 0
    }
  }
}

.form__arrow {
  position: absolute;

  top: 50%;
  right: 2px;

  z-index: 1;

  transform: translateY(-50%);

  pointer-events: none;

  background-color: #colors[dark];

  width: 51px;
  height: 38px;

  .bg_icon('../img/icon-chevron-bottom.svg');

  background-size: 31px auto;
  background-position: right center;
}

.form__error {
  display: block;

  height: 0;

  opacity: 0;

  pointer-events: none;

  .body();

  color: #colors[red];

  &.no-old-enough {
    height: auto;

    opacity: 1;

    margin-bottom: 10px;

    .form__error-default {
      display: none;
    }

    .form__error-old {
      display: block;
    }
  }

  &--wallet {
    position: absolute;

    top: 100%;
    left: 0;

    z-index: 1;
  }
}

.form__error-old {
  display: none;
}

.form__privacy {
  .w100();

  font-family: #fonts[1];
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  /* or 17px */

  color: #colors[text_black];

  a {
    color: #colors[link];

    text-decoration: none;
  }
}

.form__buttons {
  display: flex;

  justify-content: space-between;
  align-items: center;

  .w100();

  margin-top: 30px;

  &--game {
    margin-top: 20px;
  }

  &--wallet {
    flex-shrink: 0;

    width: 200 / ( 1156 - 40 ) * 100%;

    margin: 0;
    margin-left: auto;
  }

  @media (max-width: @mobile) {
    width: 100%;
  }
}

.form__submit {
  margin-top: 20px;
  margin-bottom: 20px;

  &.disabled {
    cursor: default;
    pointer-events: all;
  }

  &.sending {
    position: relative;

    pointer-events: none;

    opacity: 0.5;

    &::after {
      content: '';

      position: absolute;

      top: 50%;
      left: 50%;

      z-index: 1;

      width: 20px;
      height: 20px;

      border-radius: 50%;

      border: 2px solid #f3f3f3;
      border-top: 2px solid #555555;

      margin-top: -10px;
      margin-left: -10px;

      animation: spin 2s linear infinite;
    }
  }

  &--buttons {
    width: 135 / 291 * 100%;

    margin: 0;
  }

  &--accept {
    margin-top: 30px;
  }

  &--reset,
  &--signin {
    margin-top: 30px;
    margin-bottom: 0;
  }

  &--forgot {
    margin-top: 20px;
    margin-bottom: 0;
  }

  &--contact {
    min-width: 111px;

    margin: 0;
  }

  &--chat {
    margin: 0;

    margin-left: auto;
    margin-right: auto;
  }

  &--complaint {
    margin: 0;
  }

  @media (max-width: @mobile) {
    &--wallet {
      width: 100%;

      margin-right: 0;
    }

    &--chat {
      order: 0;

      width: 100%;

      margin-bottom: 20px;
    }
  }
}

.form__forgot {
  align-self: flex-start;

  margin-left: 0;
}

.form__popup-close {
  position: static;

  width: 100%;

  margin-top: 30px;

  &--cross {
    position: absolute;

    top: 20px;
    right: 18px;

    z-index: 1000;

    .button_reset();

    display: flex;

    justify-content: center;
    align-items: center;

    width: auto;

    svg {
      path {
        stroke: #colors[white];

        transition: fill 0.5s;
      }
    }

    &:hover,
    &:focus {
      svg {
        path {
          stroke: #colors[link];

          transition: fill 0.5s;
        }
      }
    }

    &--chats {
      top: 11px;
      right: 11px;
    }

    &--tournament {
      display: none;
    }
  }

  &--buttons {
    width: 135 / 291 * 100%;

    margin: 0;
  }
}

.form__popup-purse {
  width: 100%;

  margin-top: 30px;
}

.form__text {
  .w100();

  .caption();

  color: #colors[text_black];

  &--reset {
    .body();
  }

  &--match {
    margin-bottom: 20px;
  }

  &--star {
    margin-top: 10px;

    &::before {
      content: '*';

      margin-right: 5px;

      color: #colors[red];
    }
  }

  &--wallet {
    width: 630 / ( 1156 - 40 ) * 100%;

    margin-right: 30px;

    .body();
  }

  &--grid {
    grid-area: d;
  }

  @media (max-width: @mobile) {
    &--wallet {
      width: 100%;

      margin-right: 0;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    &--grid {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
}

.form__checkbox {
  &--free {
    margin-bottom: 10px;
  }

  &--private {
    margin-bottom: 10px;
    margin-bottom: 15px;
  }
}

.form__vs {
  margin-bottom: 15px;

  font-family: #fonts[1];
  font-style: italic;
  font-weight: 900;
  font-size: 36px;
  line-height: 140%;
  /* or 50px */

  text-align: center;
  letter-spacing: 0.01em;

  /* White */

  color: #colors[white];

  text-shadow: 0px 0px 14px rgba(0, 0, 0, 0.5);

  &--change {
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 140%;

    white-space: nowrap;
  }
}

// Сброс картинок календаря
// input[type="date"]::-webkit-inner-spin-button,
// input[type="date"]::-webkit-calendar-picker-indicator {
//   display: none;
//   -webkit-appearance: none;
// }
