.form,
.form__row,
.form__error {
  .w100();
}

.form {
  display: flex;

  flex-direction: column;

  justify-content: flex-start;
  align-items: stretch;

  &--purse {
    flex-direction: row;

    align-items: center;
  }

  &--purse-transaction {
    flex-direction: row;

    flex-wrap: wrap;

    align-items: flex-start;

    align-content: flex-start;
  }

  &#form-game {
    display: none;

    &.active {
      display: flex;
    }
  }

  @media (max-width: @mobile) {
    &--purse {
      flex-direction: column;
    }
  }
}

.form__left {
  padding: 0;
  margin: 0;

  &--purse-refill,
  &--purse-withdrawal {
    width: 200 / ( 1156 - 40 ) * 100%;

    margin-right: 30px;
  }

  &--grid {
    flex-shrink: 0;

    display: grid;

    grid-template-areas: "a c"
                         "b c"
                         "d d";
    grid-column-gap: 10px;
    grid-auto-columns: (200 / 590 * 100%) (380 / 590 * 100%);

    align-items: stretch;

    width: 590 / ( 1156 - 40 ) * 100%;
  }

  @media (max-width: @mobile) {
    &--purse-refill,
    &--purse-withdrawal,
    &--grid {
      width: 100%;

      margin-right: 0;
    }

    &--grid {
      grid-auto-columns: 100%;
      grid-template-areas: "a"
                           "b"
                           "d"
                           "c";
    }
  }
}

.form__row-wrapper {
  position: relative;

  padding: 0;
  margin: 0;

  &--grid {
    display: flex;

    flex-direction: column;

    &:nth-of-type(1) {
      grid-area: a;
    }

    &:nth-of-type(2) {
      grid-area: b;
    }

    &:nth-of-type(3){
      grid-area: c;
    }
  }
}

.form__row {
  position: relative;

  display: flex;

  justify-content: center;
  align-items: center;

  margin-bottom: 10px;

  &.invalid {
    &:not(.focus) {
      & .form__field,
      & .select__button {
        border-color: #colors[red];
        color: #colors[red];

        &:focus {
          color: #colors[text];
        }
      }

      & + .form__error {
        height: auto;

        margin-bottom: 10px;

        opacity: 1;

        transition: opacity 0.3s;


        @media (max-width: @mobile) {
          &--purse {
            margin-top: 10px;
          }
        }
      }
    }
  }

  &--purse {
    margin: 0;
  }

  &--message-transaction {
    flex-grow: 1;
  }
}

.form__field {
  position: relative;

  z-index: 1;

  flex-grow: 1;

  .field_reset();

  padding: 11px 15px;

  font-family: #fonts[1];
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  color: #colors[text];

  background: #colors[dark];
  border: 1px solid #434D5A;

  border-radius: 5px;

  &::placeholder {
    font-family: #fonts[1];
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;

    color: #57616F;
  }

  &:focus {
    background: #colors[dark];
    border-color: #colors[accent];
    color: #colors[text];

    & + .form__arrow {
      background-color: #colors[dark];
    }
  }

  &:hover {
    background: #colors[dark_light];

    & + .form__arrow {
      background-color: #colors[dark_light];
    }
  }

  &:disabled {
    opacity: 0.4;

    pointer-events: none;
  }

  &--message {
    resize: vertical;

    height: 40px;
  }

  &--message-transaction {
    resize: none;

    height: 100%;
  }
}

.form__arrow {
  position: absolute;

  top: 50%;
  right: 2px;

  z-index: 1;

  transform: translateY(-50%);

  pointer-events: none;

  background-color: #colors[dark];

  width: 51px;
  height: 38px;

  .bg_icon('../img/icon-chevron-bottom.svg');

  background-size: 31px auto;
  background-position: right center;
}

.form__error {
  display: block;

  height: 0;

  opacity: 0;

  pointer-events: none;

  .body();

  color: #colors[red];

  &.no-old-enough {
    height: auto;

    opacity: 1;

    margin-bottom: 10px;

    .form__error-default {
      display: none;
    }

    .form__error-old {
      display: block;
    }
  }

  &--purse {
    position: absolute;

    top: 100%;
    left: 0;

    z-index: 1;
  }
}

.form__error-old {
  display: none;
}

.form__privacy {
  .w100();

  font-family: #fonts[1];
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  /* or 17px */

  color: #colors[text_black];

  a {
    color: #colors[link];

    text-decoration: none;
  }
}

.form__buttons {
  display: flex;

  justify-content: space-between;
  align-items: center;

  .w100();

  margin-top: 30px;

  &--game {
    margin-top: 20px;
  }
}

.form__submit {
  margin-top: 20px;
  margin-bottom: 20px;

  &.disabled {
    cursor: default;
    pointer-events: all;
  }

  &--buttons {
    width: 135 / 291 * 100%;

    margin: 0;
  }

  &--accept {
    margin-top: 30px;
  }

  &--purse {
    flex-shrink: 0;

    width: 200 / ( 1156 - 40 ) * 100%;

    margin: 0;
    margin-left: auto;
  }

  @media (max-width: @mobile) {
    &--purse {
      width: 100%;

      margin-right: 0;
    }
  }
}

.form__forgot {
  align-self: flex-start;

  margin-left: 0;
}

.form__popup-close {
  width: 100%;

  margin-top: 30px;

  &--cross {
    position: absolute;

    top: 20px;
    right: 18px;

    z-index: 1000;

    .button_reset();

    display: flex;

    justify-content: center;
    align-items: center;

    width: auto;

    svg {
      path {
        stroke: #colors[white];

        transition: fill 0.5s;
      }
    }

    &:hover,
    &:focus {
      svg {
        path {
          stroke: #colors[link];

          transition: fill 0.5s;
        }
      }
    }

    &--chats {
      top: 11px;
      right: 11px;
    }

    &--tournament {
      display: none;
    }
  }

  &--buttons {
    width: 135 / 291 * 100%;

    margin: 0;
  }
}

.form__popup-purse {
  width: 100%;

  margin-top: 30px;
}

.form__text {
  .w100();

  .caption();

  color: #colors[text_black];

  &--match {
    margin-bottom: 20px;
  }

  &--star {
    margin-top: 10px;

    &::before {
      content: '*';

      margin-right: 5px;

      color: #colors[red];
    }
  }

  &--purse {
    width: 630 / ( 1156 - 40 ) * 100%;

    margin-right: 30px;

    .body();
  }

  &--grid {
    grid-area: d;
  }

  @media (max-width: @mobile) {
    &--purse {
      width: 100%;

      margin-right: 0;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    &--grid {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
}

.form__checkbox {
  &--free {
    margin-bottom: 10px;
  }

  &--private {
    margin-bottom: 10px;
    margin-bottom: 15px;
  }
}

// Сброс картинок календаря
// input[type="date"]::-webkit-inner-spin-button,
// input[type="date"]::-webkit-calendar-picker-indicator {
//   display: none;
//   -webkit-appearance: none;
// }
