.platform {
  display: flex;

  justify-content: flex-end;
  align-items: flex-start;

  width: 50%;

  margin-right: -5px;

  &--game {
    width: auto;
    max-width: calc(25% - 10px);

    margin-right: 10px;
  }

  &--game-popup {
    position: absolute;

    right: 20px;
    top: 20px;

    z-index: 1;

    width: auto;

    background-color: #colors[dark_light];

    opacity: 0;

    &.active {
      opacity: 1;

      z-index: 1001;
    }
  }

  &--page {
    justify-content: flex-start;
    align-items: center;

    width: auto;

    margin: 0;
    margin-right: 6px;
  }

  &--tournament-popup {
    z-index: 10000;

    width: auto;

    align-items: center;

    background-color: #colors[dark_light];
  }

  &--match,
  &--tournament {
    flex-shrink: 0;

    width: 40px;
  }
}

.platform__icon {
  fill: #A9B3C1;
}
