.table,
.table__caption,
.table__body,
.table__head,
.table__row,
.table--statistic tr,
.table--statistic thead,
.table--statistic tbody,
.table__user,
.table__user-name {
  .w100();
}

.table {
  flex-grow: 1;

  border-radius: 5px;

  border-spacing: 0;

  overflow: hidden;

  &:not(.table--statistic) {
    display: flex;

    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
  }

  &--rating {
    min-width: 768px;
  }
}

.table__caption {
  display: block;

  padding: 15px 20px 16px;

  .h3();

  text-align: left;

  color: #colors[text];

  background-color: #colors[dark];
}

.table__body,
.table--statistic tbody {
  background-color: #colors[dark_light];
}

.table__body {
  flex-grow: 1;

  display: flex;

  flex-direction: column;

  justify-content: flex-start;
  align-items: flex-start;

  padding: 0 20px;

  &--rating {
    padding: 10px 29px 16px;
  }
}

.table__head,
.table--statistic thead {
  background-color: #colors[dark_light_2];

  border: none;
}

.table__head {
  display: block;

  padding: 15px 20px 16px;

  &--rating {
    padding: 10px 29px 13px;
  }
}

.table__row {
  flex-grow: 1;

  display: flex;

  justify-content: space-between;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: 10px;
  }

  &--border {
    padding: 10px 0;
    margin-bottom: 0;

    &:not(:last-of-type) {
      border-bottom: 1px solid #colors[dark_light_2];
    }
  }

  &--rating {

  }
}

.table__column {
  display: flex;

  align-items: center;

  &--td {
    .h3();

    min-height: 50px;

    color: #colors[text];
  }

  &--th,
  &--black {
    color: #colors[text_black];
  }

  &--th {
    .caption();
  }

  &--medal {
    margin-right: 20px;

    span {
      min-width: 34px;

      text-align: center;
    }
  }

  &--user {
    flex-grow: 1;

    margin-right: 20px;
  }

  &--small  {
    .body();
  }

  &--1 {
    width: ( 36 + 61 ) / ( 1156 - 29 - 29 ) * 100%;
  }

  &--2 {
    width: ( 53 + 207 ) / ( 1156 - 29 - 29 ) * 100%;
  }

  &--3 {
    width: ( 21 + 109 ) / ( 1156 - 29 - 29 ) * 100%;
  }

  &--4 {
    width: ( 36 + 94 ) / ( 1156 - 29 - 29 ) * 100%;
  }

  &--5 {
    width: ( 42 + 88 ) / ( 1156 - 29 - 29 ) * 100%;
  }

  &--6 {
    width: ( 65 + 83 ) / ( 1156 - 29 - 29 ) * 100%;
  }

  &--7 {
    width: ( 29 + 107 ) / ( 1156 - 29 - 29 ) * 100%;
  }

  &--8 {
    width: 35 / ( 1156 - 29 - 29 ) * 100%;
  }

  @media (max-width: @mobile) {
    &--td {
      .h3_mobile();
    }
  }
}

.table--statistic td,
.table--statistic th {
  position: relative;

  white-space: nowrap;

  padding: 10px 5px 10px 15px;

  border-bottom: 1px solid #colors[dark_light_2];

  text-align: left;

  a {
    color: #colors[link];
  }

  &:first-of-type {
    padding-left: 20px;
  }

  &:last-of-type {
    padding-right: 20px;
  }
}

.table__user {
  display: flex;

  justify-content: flex-start;
  align-items: center;
}

.table__user-image {
  flex-shrink: 0;

  position: relative;

  display: flex;

  justify-content: flex-start;
  align-items: center;

  margin-right: 10px;

  span {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    overflow: hidden;
  }

  &--online {
    &::after {
      content: '';

      position: absolute;

      top: 0;
      right: 0;

      z-index: 1;

      width: 8px;
      height: 8px;

      border-radius: 50%;

      background-color: #colors[link];
    }
  }
}

.table__user-name {
  .body();
  color: #colors[link];
}
