.tournament,
.tournament__link,
.tournament__top,
.tournament__top-content,
.tournament__image,
.tournament__center,
.tournament__bottom,
.tournament__name,
.tournament__game ,
.tournament__header,
.tournament__content,
.tournament__inner,
.tournament__form {
  .w100();
}

.tournament {
  position: relative;

  &--page {
    padding-bottom: 50px;
  }
}

.tournament__wrapper {
  .wrapper();

  display: flex;

  flex-wrap: wrap;

  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;

  @media (max-width: @mobile) {
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;
  }
}

.tournament__left,
.tournament__right {
  padding: 0;
  margin: 0;

  background-color: #colors[dark_light];
}

.tournament__left {
  position: relative;

  width: 706 / 1156 * 100%;

  @media (max-width: @mobile) {
    width: 100%;
  }
}

.tournament__right {
  width: 450 / 1156 * 100%;

  padding: 14px 25px 18px;

  border-radius: 0px 5px 0px 0px;

  @media (max-width: @mobile) {
    width: 100%;
  }
}

.tournament__header {
  display: flex;

  justify-content: flex-start;
  align-items: stretch;

  padding-bottom: 10px;
  margin-bottom: 10px;

  border-bottom: 1px solid #colors[dark_light_2];

  &--popup {
    padding: 15px 20px 16px 30px;
    margin: 0;

    background-color: #colors[dark_light];
  }
}

.tournament__content {
  color: #colors[text];

  padding-bottom: 12px;
  margin-bottom: 16px;

  border-bottom: 1px solid #colors[dark_light_2];

  .wp-block-table {
    .caption();

    padding-bottom: 12px;
    margin-bottom: 10px;

    border-bottom: 1px solid #colors[dark_light_2];

    td {
      padding: 0;

      &:nth-of-type(even) {
        color: #colors[text_black];
      }
    }

    tr {
      &:not(:last-of-type) {
        td {
          padding-bottom: 6px;
        }
      }
    }
  }

  p {
    padding: 0;
    margin: 0;
  }

  p + p {
    margin-bottom: 10px;
  }
}

.tournament__link {
  position: relative;

  display: flex;

  flex-direction: column;

  justify-content: flex-start;
  align-items: flex-start;

  min-height: 100%;

  background-color: #colors[dark_light];

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  transform: scale(1);

  transition: transform 0.3s;

  overflow: hidden;

  color: #colors[text];

  &:hover,
  &:focus {
    transform: scale(1.03065);

    transition: transform 0.3s;
  }

  &--disabled {
    pointer-events: none;
    background-color: #colors[dark];
  }

  &--my {
    border: 2px solid #colors[link];
  }

  &--past {
    border: none;

    &::after {
      content: '';

      position: absolute;

      top: 0;
      left: 0;

      z-index: 2;

      width: 100%;
      height: 100%;

      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  @media (max-width: @mobile) {
    &--disabled {
      display: none;
    }
  }
}

.tournament__top {
  position: relative;

  height: 170px;

  padding: 10px 0;
}

.tournament__image {
  position: absolute;

  top: 0;
  left: 0;

  z-index: 0;

  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }

  &--page {
    position: static;

    border-radius: 5px 0px 0px 0px;

    overflow: hidden;
  }
}

.tournament__top-content {
  display: flex;

  flex-direction: column;

  justify-content: flex-end;
  align-items: center;

  min-height: 100%;
}

.tournament__trophy {
  position: relative;

  z-index: 1;

  display: flex;

  justify-content: center;
  align-items: center;

  min-width: 100px;

  padding: 5px 15px 3px;

  font-family: #fonts[1];
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  letter-spacing: 0.01em;

  color: #colors[white];

  /* Dark */
  background: #colors[dark];
  /* Dark_light */
  border: 1px solid #colors[dark_light];

  border-radius: 40px;

  &::before {
    content: '';

    width: 20px;
    height: 20px;

    margin-right: 8px;

    background-image: url('../img/tournaments-trophy.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--page {
    flex-shrink: 0;

    align-self: flex-start;

    padding: 6px 16px 6px;

    .h3();
  }
}

.tournament__winner {
  position: relative;

  z-index: 3;

  display: flex;

  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  margin-bottom: 10px;
}

.tournament__winner-image-wrapper {
  position: relative;

  display: flex;

  justify-content: center;
  align-items: center;

  margin-bottom: 10px;

  &::after {
    content: '';

    position: absolute;

    top: 50%;
    right: 0;

    z-index: 1;

    transform: translate(50%, -50%);

    width: 50px;
    height: 50px;

    background-image: url('../img/tournaments-winner.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.tournament__winner-image {
  position: relative;

  width: 80px;
  height: 80px;

  border-radius: 50%;

  overflow: hidden;

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }
}

.tournament__winner-name {
  .w100();

  .caption();

  color: #colors[link];
  text-align: center;
}

.tournament__center {
  flex-grow: 1;

  display: flex;

  flex-direction: column;

  justify-content: space-between;
  align-items: flex-start;

  padding: 9px 15px 10px 19px;

  border-bottom: 1px solid #colors[dark_light_2];

  &--page,
  &--popup {
    padding: 0;
    border: none;
  }
}

.tournament__name {
  flex-grow: 1;

  min-height: 42px;
  margin-bottom: 6px;

  .body_bold();

  &--page {
    .h3();

    color: #colors[white];
  }

  &--popup {
    padding: 10px 30px;

    .card_title();

    color: #colors[white];

    background-color: #colors[dark_light];
  }
}

.tournament__status,
.tournament__info {
  padding-left: 17px;

  font-family: #fonts[1];
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  &--page {
    padding-left: 20px;

    .caption();
  }
}

.tournament__status {
  position: relative;

  margin-bottom: 6px;

  &::before,
  &::after {
    content: '';

    position: absolute;
  }

  &::before {
    bottom: 2px;
    left: -19px;

    width: 5px;
    height: 53px;
  }

  &::after {
    top: 50%;
    left: 0;

    transform: translateY(-50%);

    width: 10px;
    height: 10px;

    border-radius: 50%;
  }

  &--future {
    color: #colors[link];

    &::after,
    &::before {
      background-color: #colors[link];
    }
  }

  &--present {
    color: #colors[accent];

    &::after,
    &::before {
      background-color: #colors[accent];
    }
  }

  &--past {
    color: #colors[text];

    &::after,
    &::before {
      background-color: #colors[text];
    }
  }

  &--page {
    margin-bottom: 3px;

    &::before {
      left: -25px;

      height: 59px;
    }
  }
}

.tournament__info {
  margin-bottom: 14px;

  color: #colors[text];

  &--page {
    margin-bottom: 20px;
  }
}

.tournament__bottom {
  display: flex;

  flex-wrap: wrap;

  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;

  min-height: 119px;

  padding: 10px 20px;

  &--page {
    min-height: auto;

    padding: 0;
  }
}

.tournament__bottom-left {
  width: 50%;
}

.tournament__bottom-left {
  //margin-bottom: 24px;
}

.tournament__game {
  margin-bottom: 4px;

  .card_title();

  &--page {
    .body_bold();

    color: #colors[white];
  }

  &--popup {
    color: #colors[white];
  }
}

.tournament__id {
  display: flex;

  justify-content: flex-start;
  align-items: center;

  .caption();

  &--page {
    color: #colors[text_black];
  }
}

.tournament__bet {
  .h3();

  color: #colors[white];

  &--page {
    margin-bottom: 2px;
  }
}

.tournament__button {
  width: 200px;
  max-width: 50%;
}

.tournament__matches {
  position: absolute;

  top: 12px;
  left: 12px;

  z-index: 2;

  display: flex;

  justify-content: center;
  align-items: center;

  width: 31px;
  height: 31px;

  .h3();

  color: #colors[white];

  border: 3px solid #colors[red];

  border-radius: 50%;

  background-color: #colors[red];
}
