.user,
.user__avatar,
.user__info,
.user__name {
  padding: 0;
  margin: 0;
}

.user {
  position: relative;

  display: flex;

  justify-content: flex-start;
  align-items: center;

  padding-left: 30px;

  &::before {
    content: '';

    position: absolute;

    top: 50%;
    left: 0;

    width: 1px;
    height: 50%;

    background-color: #colors[dark_light];

    transform: translateY(-50%);
  }

  @media (max-width: @mobile) {
    justify-content: flex-end;

    padding: 0;

    &::before {
      display: none;
    }
  }
}

.user__avatar {
  display: flex;

  justify-content: center;
  align-items: center;

  margin-right: 15px;

  border-radius: 50%;

  overflow: hidden;

  @media (max-width: @mobile) {
    order: 2;
    width: 30px;

    margin-right: 0;
    margin-left: 8px;
  }
}

.user__info {
  margin-right: 30px;

  @media (max-width: @mobile) {
    margin-right: 0;
  }
}

.user__name {
  margin-bottom: 6px;

  h5 {
    padding: 0;
    margin: 0;

    text-align: left;
    letter-spacing: 0.01em;

    color: #colors[text];
  }

  @media (max-width: @mobile) {
    display: none;
  }
}

.user__money {
  .w100();

  color: #colors[dark_light];
}

.user__money-amount {
  color: #colors[text];

  &::after {
    content: ' | ';

    color: #colors[dark_light];
  }

  @media (max-width: @mobile) {
    &::after {
      display: none;
    }
  }
}
