.verify {
  .button_reset();

  position: absolute;

  top: 0;
  left: 50%;

  z-index: 3;

  transform: translate(-50%, -50%);

  width: 24px;
  height: 24px;

  border-radius: 50%;

  background-color: #colors[dark_light];

  .bg_icon('../img/check-gray.svg');
  background-size: 14 / 24 * 100%;
}
